@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}
.box{
position: relative;
width: 400px;
height: 400px;
border-radius: 50%;
overflow: hidden;
justify-self: center;
margin:auto;
}

/* Media query for screens with a maximum width of 640px (sm screens) */
@media screen and (max-width: 640px) {
  .box {
    width: 300px;
    height: 300px;
    margin:auto;
  }
}
.box::before
{
content: '';
position: absolute;
inset :-10px 140px;
background:linear-gradient( 315deg, #00ccff , #d400d4);
transition: 0.5s;
animation : animate 4s linear infinite;

}
.box:hover::before{
  inset: -20px 0px;
}
  @keyframes animate
  {
    0%{
  transform:rotate(0deg);
    }
    0%{
      transform: rotate(360deg);
    }
 
}
.box::after
{
  content: '';
position : absolute;
inset: 6px;
background :  #0f1525 ;
border-radius:50%;
z-index: 1 ;
}
.content{
  position:absolute;
  inset: 30px;
  border: 6px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.fix
{
  justify-items: end;
}
.awesome {
  
  animation:colorchange 10s infinite alternate;
  font-family: __Poppins_6fcd13,__Poppins_Fallback_6fcd13;
  font-style: italic;
  font-size: larger;
  font-weight: bold;
}

 @keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: blue;
  }
  
  50% {
    
    color: #34495e;
  }
  
  60% {
    
    color: rgb(255, 8, 0);
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}
.pad{
  padding-top: 0.23rem
}
